In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [10]:
csv_file = "input/auto_insurance_cost.csv"
auto_ins_data_df = pd.read_csv(csv_file)
auto_ins_data_df

# with open(csv_file) as f:
#     print(f)

        rank            state  full_coverage  minimum_coverage  difference
0          1         Michigan           8723              5282        3441
1          2     Rhode Island           3847              1589        2258
2          3        Louisiana           3525              1329        2196
3          4         Kentucky           3418              1338        2079
4          5          Florida           3370              2565         805
5          6           Nevada           3190              1295        1895
6          7         Colorado           3164              1075        2089
7          8       New Jersey           3013              1182        1831
8          9  Washington D.C.           2793              1260        1533
9         10         New York           2752              1323        1429
10        11          Arizona           2699               980        1719
11        12         Oklahoma           2659               742        1916
12  13 (tie)      Connecticut           2619              1192        1428
13  13 (tie)          Georgia           2619              1114        1505
14        15            Texas           2594               890        1704
15        16         Missouri           2584               874        1710
16        17             Utah           2538              1105        1433
17        18          Montana           2525               641        1884
18        19         Delaware           2513              1316        1197
19        20         Maryland           2431              1180        1251
20        21     South Dakota           2338               420        1917
21        22         Illinois           2313               878        1435
22        23        Minnesota           2271               983        1289
23        24         Arkansas           2213               677        1536
24        25      Mississippi           2208               749        1459
25        26           Oregon           2205              1136        1070
26        27       New Mexico           2194               699        1495
27        28           Kansas           2190               654        1535
28        29    West Virginia           2131               685        1447
29        30          Wyoming           2118               485        1632
30        31          Alabama           2078               736        1342
31        32         Nebraska           2038               599        1439
32        33     Pennsylvania           2018               615        1403
33        34   South Carolina           2013               854        1158
34        35    New Hampshire           2004               643        1361
35        36     North Dakota           1979               528        1451
36        37    Massachusetts           1866               646        1219
37        38        Tennessee           1821               577        1243
38        39       California           1804               574        1230
39        40            Idaho           1777               606        1171
40        41          Vermont           1769               552        1217
41        42       Washington           1691               706         985
42        43             Ohio           1688               561        1127
43        44        Wisconsin           1590               486        1104
44        45           Alaska           1502               485        1016
45        46         Virginia           1498               607         891
46        47          Indiana           1489               498         991
47        48             Iowa           1482               357        1124
48        49   North Carolina           1434               542         892
49        50           Hawaii           1340               475         865
50        51            Maine           1268               489         779

In [11]:
csv_file = "input/kaggle_income.csv"

with open(csv_file) as f:
    print(f)

<_io.TextIOWrapper name='input/kaggle_income.csv' mode='r' encoding='UTF-8'>